<div class="container-fluid">
    <div class="row ">
        <h1 class="mb-5">Educacion</h1>
        <div class="card-xp row featurette border border-dark mb-3 rounded">
            <div class="col-lg-3 ">
                <img src="../../../assets/amazon.png" class="rounded" style="height: 200px; width: 230px;" alt="">
            </div>
            <div class="col-lg-9 my-3">
                <ul>
                    <li>
                        <h2>Estudio 1</h2> - <h3>(Años)</h3>
                    </li>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam qui veritatis molestiae quis
                        eveniet minima quo tenetur est ratione nobis minus, dicta sapiente maxime. Blanditiis voluptas
                        debitis voluptates dignissimos eius?</p>
                </ul>
            </div>
        </div>
        <div class="card-xp row featurette border border-dark mb-3 rounded">
            <div class="col-lg-3 mt-3">
                <img src="../../../assets/project.jpg" class="rounded" style="height: 200px; width: 230px;" alt="">
            </div>
            <div class="col-lg-9 mt-3">
                <ul>
                    <li>
                        <h2>Estudio 2</h2> - <h3>(Años)</h3>
                    </li>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam qui veritatis molestiae quis
                        eveniet minima quo tenetur est ratione nobis minus, dicta sapiente maxime. Blanditiis voluptas
                        debitis voluptates dignissimos eius?</p>
                </ul>
            </div>
        </div>
        <div class="card-xp row featurette border border-dark mb-3 rounded">
            <div class="col-lg-3 mt-3">
                <img src="../../../assets/project.jpg" class="rounded" style="height: 200px; width: 230px;" alt="">
            </div>
            <div class="col-lg-9 mt-3">
                <ul>
                    <li>
                        <h2>Estudio 3</h2> - <h3>(Años)</h3>
                    </li>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam qui veritatis molestiae quis
                        eveniet minima quo tenetur est ratione nobis minus, dicta sapiente maxime. Blanditiis voluptas
                        debitis voluptates dignissimos eius?</p>
                </ul>
            </div>
        </div>
    </div>
</div>