.row {
    padding: 50px;
}

.container-fluid {
    background: #3a89c9;
}
h1 {
    text-decoration: underline 2px;
}

h2, h3 {
    display: inline;
}

ul {
    list-style: none;
}

p {
    margin-top: 15px;
    font-size: 20px;
}

.card-xp {
    background: #355c7d;
}