<div class="container-fluid">
    <div class="row">
    <h1 class="mb-5">Hard & Soft Skills</h1>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [imageSrc]="'../assets/html.png'"
            [showImage]="true"
            [showUnits]="false"
            [imageHeight]="100"
            [imageWidth]="100"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#e44d26'"
            [innerStrokeColor]="'#e4784a'"
            [animation]="true"
            [animationDuration]="700"
></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="66"
                [radius]="100"
                [imageSrc]="'../assets/css.png'"
                [showImage]="true"
                [showUnits]="false"
                [imageHeight]="100"
                [imageWidth]="100"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#2062af'"
                [innerStrokeColor]="'#3c9cd7'"
                [animation]="true"
                [animationDuration]="700"
    ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                    [percent]="40"
                    [radius]="100"
                    [imageSrc]="'../assets/js.png'"
                    [showImage]="true"
                    [showUnits]="false"
                    [imageHeight]="100"
                    [imageWidth]="100"
                    [showSubtitle]="false"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#d5b931'"
                    [innerStrokeColor]="'#fdd93d'"
                    [animation]="true"
                    [animationDuration]="700"
        ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
                    <circle-progress
                        [percent]="66"
                        [radius]="100"
                        [imageSrc]="'../assets/GitHub-Logo.png'"
                        [showImage]="true"
                        [showUnits]="false"
                        [imageHeight]="50"
                        [imageWidth]="100"
                        [showSubtitle]="false"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="8"
                        [outerStrokeColor]="'#323232'"
                        [innerStrokeColor]="'#000000'"
                        [animation]="true"
                        [animationDuration]="700"
            ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
                        <circle-progress
                            [percent]="66"
                            [radius]="100"
                            [imageSrc]="'../assets/js.png'"
                            [showImage]="true"
                            [showUnits]="false"
                            [imageHeight]="100"
                            [imageWidth]="100"
                            [showSubtitle]="false"
                            [outerStrokeWidth]="16"
                            [innerStrokeWidth]="8"
                            [outerStrokeColor]="'#d5b931'"
                            [innerStrokeColor]="'#fdd93d'"
                            [animation]="true"
                            [animationDuration]="700"
                ></circle-progress>
        </div>
            <div class="text-center col-sm-4 col-md-4 col-lg-4">
                            <circle-progress
                                [percent]="66"
                                [radius]="100"
                                [imageSrc]="'../assets/js.png'"
                                [showImage]="true"
                                [showUnits]="false"
                                [imageHeight]="100"
                                [imageWidth]="100"
                                [showSubtitle]="false"
                                [outerStrokeWidth]="16"
                                [innerStrokeWidth]="8"
                                [outerStrokeColor]="'#d5b931'"
                                [innerStrokeColor]="'#fdd93d'"
                                [animation]="true"
                                [animationDuration]="700"
                    ></circle-progress>
        </div>
        <hr class="mt-4">
    </div>
</div>


