<div class="container-fluid">
    <div class="row">
        <h1 class="mb-5">Proyectos</h1>
        
        <div class="proyecto row">
        <div class="card-xp row featurette border border-dark mb-3 rounded">
            <div class="col-md-7">
            <h2 class="mb-5">Portfolio (realizacion)</h2>
            <p class="lead fs-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, fuga tempora mollitia eveniet quaerat fugiat natus ex dicta ad assumenda atque cumque quos saepe eligendi laudantium blanditiis doloremque! Atque, eius?</p>
            </div>

            <div class="col-md-5">
            <a href=""><img src="../../../assets/proyecto1.png" class="img-fluid border border-dark" alt="porfolio-proyecto"></a>
            </div>
        </div>
            <hr class="mt-4">
        </div>
        
    </div>
