<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/fotodeperfil-2.jpg" class="img-fluid border border-light" id="foto-perfil" alt="foto de perfil Leandro Dieguez">
        </div>
        <div class="mt-3 col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="name" class="fs-3">{{persona.nombre}} {{persona.apellido}}</p>
            <p class="fs-5">Full Stack Developer Jr</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mi</h1>
                <p class="fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, soluta rem labore necessitatibus incidunt a aut ab, officia velit ducimus eligendi tenetur itaque. Nostrum molestiae voluptatum ut, distinctio mollitia animi.</p>
            </span>
        </div>
        <hr>
    </div>
</div>
